.rodape {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    background-image: var(--azul-gradiente);
    padding: 1rem;
}

.rodape__infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    gap: .5rem;
}

.rodape__infos-link {
    text-decoration: none;
    color: var(--preto);
}

.rodape__copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

@media screen and (min-width: 768px) {
    .rodape {
        flex-direction: row;
    }
}